.container{
   width: 100%;
   display: flex;
   justify-content: center;
}

form{
    display:  grid;
    grid-template-areas: "emaillbl email" "emailerror emailerror" "passwordlbl password" "passworderror passworderror" "error error" "btn btn";
    grid-template-columns: 30% 70%;
    grid-gap: 7px;

}

#emaillbl{
    grid-area: emaillbl;
}
#email{
    grid-area: email;
}
#passwordlbl{
    grid-area: passwordlbl;
}
#password{
    grid-area: password;
}

#errors{
    grid-area: error;
}

#btnSignIn{
    grid-area: btn;
}

#emailerror{
    grid-area: emailerror;
}

#passworderror{
    grid-area: passworderror;
}