@import "../../../src/app/scss/variables.scss";
.books-container_create-new {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 3em;
  height: 3em;
  margin-bottom: 2em;
  margin-right: 2em;
  border-radius: 50%;
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  cursor: pointer;
  outline: none;
}

.tooltip-container{
  position: relative; 
}
